* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.info-area {
  width: 50rem;
  height: 40rem;
  display: flex;
  position: relative;
  left: 30vw;
}
.info-img {
  width: 50rem;
  height: 40rem;
}
